@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gift Of Givers - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gift Of Givers</h1>
    <p>This is the homepage of your disaster relief management system.</p>
    <p>
        <a href="/swagger" class="btn btn-primary" target="_blank">Go to API Docs</a>
    </p>
</div>
